###################################################################
# Empty template to be filled by other scripts
# Could be altered to provide more of a scafold 
###################################################################



